// Variables
$color-fondo: #0D0000;
$color-texto: #ffffff;
$color-principal: #ffffff;
$fuente-base: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
$borde-radio: 0.25rem;
$color-borde: rgba(0, 0, 0, 0.05);
$color-anio:#ffffff;

